<section>
  <div class="row title">
    <h1>ELIGE UNA DE LAS SIGUIENTES OPCIONES</h1>
  </div>

  <div class="row">
    <h2>Buscar los ultimos valores todos los elementos</h2>
    <button
      (click)="callScreenLastValues()">
      Buscar
    </button>
  </div>

  <div>
    <h2>Buscar los valores de un elemento en particular</h2>
    <button
    (click)="callScreenAllValuesForElement()">
    Buscar
  </button>
  </div>

  <div>
    <h2>Buscar los valores de una fecha determinada</h2>
    <button
      (click)="callScreenForDate()">
      Buscar
  </button>
  </div>

</section>
